<script language="JavaScript">
var distance = require('google-distance-matrix');
distance.key('AIzaSyDyAIZrXnrzl7u487YOR4iPRQpSdmXxWgU');

distance.mode('driving');
distance.units('imperial');


var origins = ['San Francisco CA'];
var destinations = ['New York NY', '41.8337329,-87.7321554'];


distance.matrix(origins, destinations, function (err, distances) {
    console.log("entro");
    //if (!err)
    //    console.log(distances);

    if (distances.status == 'OK') {
    var result ="<p>"+distances[0]+"</p>";

    document.getElementById('result').innerHtml = result;

    }

});

</script>

<p>test of the distance</p>

<div id ="result">

</div>